@media (max-width: 1260px) {
    .info_item {
        padding: 30px;
    }

    .info_title {
        font-size: 16px;
    }

    .info_text {
        font-size: 14px;
    }
}

@media (max-width: 1260px) {

    .info_title {
        letter-spacing: unset;
    }

    .about_block {
        padding-right: 30px;
    }

    .services_content {
        height: 400px;
    }
}

@media (max-width: 1100px) {
    .services_content {
        height: 300px;
    }
    .container {
        margin: 0 150px;
    }

    .about_wrapper {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .section {
        margin-bottom: 30px;
    }

    .container {
        margin: 0 50px;
    }

    .process_title {
        margin-bottom: 10px;
        font-size: 100px;
    }

    .process_subtitle {
        margin-bottom: 30px;
    }

    .header_logo {
        height: 55px;
    }

    .intro_content {
        height: 530px;
    }

    .intro_block {
        text-align: center;
    }

    .intro_title {
        font-size: 34px;
    }

    .info_item {
        padding: 20px;
    }

    .services_content {
        height: 300px;
    }

    .services_content-item {
        display: none;
    }

    .services_content::after {
        display: none;
    }

    .about {
        padding: 30px 0;
    }

    .about_wrapper {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .info {
        transform: translateY(-75px);
    }

    .wrapper {
        flex-wrap: wrap;
    }

    .block {
        width: 100%;
        margin-bottom: 20px;
    }

    .info_item {
        text-align: center;
    }

    .services_content {
        height: 450px;
        background-position: center;
    }

    .block_title {
        text-align: center;
    }

    .contacts_form {
        margin: 0 auto;
    }
}

@media (max-width: 760px) {
    .nav {
        display: none;
    }

    .contacts {
        padding: 10px;
    }
    .container {
        margin: 0 10px;
    }
}